<div class="row" style="margin:50px">
    <span class="span12">
      <div class="text-center">
        <h1>SPLICE</h1>
      </div><br>
      <p class="text-center">
        Standards, Protocols, and Learning Infrastructure for Computing
        Education<br><br>
        <a href="http://cssplice.org">SPLICE Homepage</a><br><br>
        <%= link_to "Add Tool Providers to Canvas",
        lti_toolproviders_canvas_path %><br>
        <%= link_to "Add Tool Providers to Moodle",
        lti_toolproviders_moodle_path %> <br>
        <%= link_to "Add OpenDSA exercises to Canvas",
        lti_instructions_opendsa_path %> <br>
        <%= link_to "Add OpenDSA exercises to Moodle",
        lti_instructions_opendsa_moodle_path %> <br>
        <%= link_to "Add an OpenDSA eTextbook to Canvas",
        lti_instructions_opendsa_book_instance_path %> <br>
        <%= link_to "Configure an OpenDSA eTextbook",
        lti_instructions_opendsa_configure_book_path %> <br>
        <%= link_to "LTI tutorials", lti_path %><br>
      </p><br>
    </span>
</div>
