<div class="topmenu">
    <div class="navbar-wrapper">
        <div class="container-fluid">
            <nav class="navbar navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"></a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="http://cssplice.org" target="_blank"
                               style="text-align:center">SPLICE<br>Home</a></li>
                            <li class=" dropdown">
                                <a href="#" class="dropdown-toggle "
                                data-toggle="dropdown" role="button"
                                aria-haspopup="true" aria-expanded="false"
                                style="text-align:center">LTI <br>Background
                                <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li> <%= link_to "About",  lti_path %></li>
                                    <li> <%= link_to "Introduction",
                                    lti_path(anchor: 'Introduction') %></li>
                                    <li> <%= link_to "LTI Advantage",
                                    lti_lti_advantage_path %></li>
                                    <li> <a
                                      href="https://www.imsglobal.org/activity/learning-tools-interoperability"
                                      target="_blank">IMS Global Home</a> </li>
                                </ul>
                            </li>
                            <li class=" dropdown">
                                <a href="#" class="dropdown-toggle "
                                data-toggle="dropdown" role="button"
                                aria-haspopup="true"
                                aria-expanded="false"style="text-align:center">
                                Developer <br>Tutorials<span
                                class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li> <%= link_to "Building an LTI Tool
                                    Provider",  lti_building_lti_tool_path
                                    %></li>
                                    <li> <%= link_to "Rails Tool Provider",
                                    lti_tutorials_rails_path %></li>
                                    <li> <%= link_to "Rails TP - Send
                                    Scores",   lti_tutorials_rails2_path %></li>
                                    <li> <%= link_to "Generating an SSL
                                    Certificate",
                                    lti_building_lti_tool_path(anchor: 'ssl')
                                    %> </li>
                                    <li> <%= link_to "OpenDSA - an LTI Use
                                    Case",  lti_opendsa_path %></li>
                                    <li> <%= link_to "LTI in OpenDSA -
                                    Stand-alone Exercises",
                                    lti_opendsa_path(anchor: 'stand-alone')
                                    %></li>
                                    <li> <%= link_to "LTI in OpenDSA -
                                    Book Instance Exercises",
                                    lti_opendsa_bookinstance_path %></li>
                                    <li> <%= link_to "LTI in OpenDSA -
                                    Instructors",  lti_opendsa_instructor_path
                                    %></li>
                                </ul>
                            </li>
                            <li class=" dropdown">
                                <a href="#" class="dropdown-toggle "
                                data-toggle="dropdown" role="button"
                                aria-haspopup="true"
                                aria-expanded="false" style="text-align:center">
                                User <br>Examples<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                  <li> <%= link_to "Add Tool Providers to
                                  Canvas", lti_toolproviders_canvas_path
                                  %></li>
                                  <li> <%= link_to "Add OpenDSA exercises to
                                  Canvas", lti_instructions_opendsa_path
                                  %></li>
                                  <li> <%= link_to "Add OpenDSA exercises to
                                  Moodle", lti_instructions_opendsa_moodle_path
                                  %></li>
                                  <li>
                                    <%= link_to "Add an OpenDSA eTextbook to
                                    Canvas",
                                  lti_instructions_opendsa_book_instance_path
                                  %></li>
                                  <li>
                                    <%= link_to "Configure an OpenDSA
                                    eTextbook",
                                  lti_instructions_opendsa_configure_book_path
                                  %></li>
                                </ul>
                            </li>
                            <li class=" dropdown">
                                <a href="#" class="dropdown-toggle "
                                data-toggle="dropdown" role="button"
                                aria-haspopup="true"
                                aria-expanded="false" style="text-align:center">
                                Caliper <br>Analytics<span
                                class="caret"></span></a>
                                <ul class="dropdown-menu">
                                  <li> <%= link_to "Introduction",  caliper_path
                                  %></li>
                                  <li> <a
                                    href="http://www.imsglobal.org/activity/caliper"
                                    target="_blank">Caliper Homepage</a></li>
                                </ul>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
