<!DOCTYPE html>
<html>
  <head>
    <title>SPLICE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <% if current_page?(lti_instructors_path) || (!current_page?(index_path) && !current_page?(root_path) && !current_page?(lti_path) && @@isInstructor) %>
          <%= render 'layouts/instructor_header' %>
          <% @@isInstructor = true %>
      <% elsif current_page?(index_path) || current_page?(root_path) ||
          current_page?(lti_path)%>
          <%= render 'layouts/header' %>
          <%  @@isInstructor = false %>
      <% else %>
          <%= render 'layouts/header' %>
          <%  @@isInstructor = false %>
      <% end %>

      <%= yield %>
      <%= render "layouts/footer" %>
  </body>
</html>
